@model test.Models.RegisterModel

@{
    ViewBag.Title = "Home";
}

@section featured 
{
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>hi.</h1>
                <h2>welcome to bandit.</h2>
            </hgroup>
<<<<<<< HEAD
=======
            <p>
               This is the Home screen Thus Far.... Log in and create a band here?
            </p>
>>>>>>> dd962774445a69b12a838f55de74fe554db5ac39
        </div>
    </section>
}

<<<<<<< HEAD
@if (Request.IsAuthenticated)
{
    Html.RenderAction("Bands", "Band");
}
else
{
    @Html.Partial("_LandingPartial")
}

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}
=======
>>>>>>> dd962774445a69b12a838f55de74fe554db5ac39
