@{
    ViewBag.Title = "Budget";
}

<<<<<<< HEAD
@section featured 
{
    @Html.Partial("_BandHeaderPartial")
}
=======
<h2>Track Spending, Inventory, and Income!</h2>
>>>>>>> dd962774445a69b12a838f55de74fe554db5ac39
