@model IEnumerable<test.Models.MemberModel>

<table class="pretty" border="0" cellpadding="0" cellspacing="0">
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.MemberUserName</td>
            <td>@Html.DisplayFor(modelItem => item.MemberDisplayName)</td>
        </tr>
    }

</table>