@model IEnumerable<test.Models.MemberModel>

<ul>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.MemberUserName)</td>
            <td>@Html.DisplayFor(modelItem => item.MemberDisplayName)</td>
        </tr>
    }

</ul>