@{
    ViewBag.Title = "Online";
}

<<<<<<< HEAD
@section featured 
{
    @Html.Partial("_BandHeaderPartial")
}
=======
<h2>Manage and possibly update online accounts?</h2>
>>>>>>> dd962774445a69b12a838f55de74fe554db5ac39
